/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.high {
  height: 89vh;
}

body {
  background-position: center;
  background-size: cover;
  background-clip: cover;
}

.time-string-shadow {
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  font-size: 10ems;
}

.border-custom-weather {
  border-radius: 0% 0% 50% 50%;
  height: 10%;
}

.todosBg {
  background-color: rgba(0, 0, 0, 0.5)
}

#author-string {
  visibility: hidden;
  transition: visibility 2s;
  transition-timing-function: ease;
}

#quote-string:hover+#author-string {
  visibility:  visible;
  
}