<div class="section flex-column d-flex flex-grow-1">
    <div class="container-fluid flex-grow-1">
        <div class="row">
            <div class=" col-3"></div>
            <div class="col-6 d-flex flex-column align-items-center justify-content-between high">
                <div></div>
                <h1 id="time-string" class="text-light time-string-shadow">12:34am</h1>
                <h4 class="justify-self-end text-light time-string-shadow" id="quote-string">"This is a very
                    inspirational quote"</h4>
            </div>
            <div class="col-3 d-flex flex-column align-items-center justify-content-between">
                <div class="border border-dark rounded">
                    <div>Weather here</div>

                </div>
                <div class="border border-dark rounded">
                    <div>todo here</div>

                </div>
            </div>
        </div>
    </div>
</div>