<div class="section flex-column d-flex flex-grow-1">
    <div class="container-fluid flex-grow-1">
        <div class="row">
            <div class=" col-3"></div>
            <div class="col-6 d-flex flex-column align-items-center justify-content-between high">
                <div></div>
                <h1 id="time-string" class="text-light time-string-shadow">12:34am</h1>
                <div>
                    <h4 class="justify-self-end text-light time-string-shadow" id="quote-string">"This is a very
                        inspirational quote"</h4>
                    <h5 class="text-light time-string-shadow text-center" id="author-string">-Porter Young</h5>
                </div>
            </div>
            <div class="col-3 d-flex flex-column align-items-center justify-content-between">
                <div class="bg-dark text-light border-custom-weather d-flex align-items-center">
                    <div class="mb-3 mx-5">
                        <h6 onclick="app.WeatherController.changeTempType()" id="weather-label">100 °F
                        </h6>
                    </div>

                </div>
                <div class="rounded todo-element pb-2">
                    <div>
                        <div>
                            <h5 class="text-light text-center" id="todo-count">0 Todos remaining</h5>
                        </div>
                        <form onsubmit='app.TodosController.postTodo()' id="todo-form">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="New Todo" name="description">
                                <button class="btn btn-outline-secondary">create</button>
                            </div>

                        </form>
                        <div id="todos-section">
                            <!-- <div
                                class="border border-light border-1 d-flex justify-content-between todosBg text-light align-items-center rounded">
                                <input class="form-check-input fs-4 my-0 mx-1" type="checkbox" onchange="app.TodosController.toggleTodo(id)">
                                <p class="m-0">test</p>
                                <button class="btn btn-outline-danger mdi mdi-delete"></button>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>