<div class="section flex-column d-flex flex-grow-1">
    <div class="container-fluid flex-grow-1">
        <div class="row">
            <div class=" col-3"></div>
            <div class="col-6 d-flex flex-column align-items-center justify-content-between high">
                <div></div>
                <h1 id="time-string" class="text-light time-string-shadow">12:34am</h1>
                <h4 class="justify-self-end text-light time-string-shadow" id="quote-string">"This is a very
                    inspirational quote"</h4>
            </div>
            <div class="col-3 d-flex flex-column align-items-center justify-content-between">
                <div class="bg-dark text-light border-custom-weather d-flex align-items-center">
                    <div class="mb-3 mx-5">
                        <h6 onclick="app.WeatherController.changeTempType()" id="weather-label">100 °F
                        </h6>
                    </div>

                </div>
                <div class="border border-dark rounded">
                    <div>
                        <form onsubmit='app.TodosController.postTodo()'>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="New Todo" name="description">
                                <button class="btn btn-outline-secondary">Button</button>
                            </div>
                            <div id="todos-section">
                                <div class="border border-dark border-1 d-flex">
                                    <input type="checkbox" name="completed" id="">
                                    <p>test</p>
                                    <button class="mdi mdi-delete"></button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>